.bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}
.sub-container{
    background-color: white;
    height: 20vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    padding: 20px;
}
.button{
    margin: 20px;
    background-color: aqua;
    border-style: none;
    border-radius: 20px;
    padding: 20px;
    color: whitesmoke;
    
    
}